In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [ ]:
df = pd.read_csv("Bookings.csv")

In [19]:
df.head()

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating
0,2024-07-26,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444,NaN,0,NaN,NaN
1,2024-07-25,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158,Cash,13,4.1,4.0
2,2024-07-30,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,NaN,NaN,No,NaN,386,UPI,40,4.2,4.8
3,2024-07-22,03:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,Driver is not moving towards pickup location,NaN,NaN,NaN,384,NaN,0,NaN,NaN
4,2024-07-02,09:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,NaN,NaN,No,NaN,822,Credit Card,45,4.0,3.0

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

## DATA PREPROCESSING


### Cleaning Opportunities 
1. Filling null values in V_TAT and C_TAT column 
2. Date column contains Date + Time and datatype is object.
3. Null values in driver rating columns.
4. Customer rating column null values. 
5. Vehicle images and Unnamed column is not needed.
6. Time columns values are in object format.

In [ ]:
# Removing vehicle images and unnamed column 
df.drop(columns={"Vehicle Images","Unnamed: 20"}, inplace=True)

In [ ]:
filtered_df = df[df['V_TAT'].isna() & df['C_TAT'].isna()]
filtered_df.count()

1. Total 10499 rides were cancelled by customer
2. Total 18434 rides were cancelled by drivers 
3. Total 10124 rides were not executed due to other reasons.

In [ ]:
df['Date'] = df['Date'].str.split(' ').str[0]

In [18]:
df['Date'] = pd.to_datetime(df['Date'])

In [24]:
# lets replace booking status column with succes = 1 and cancelled by drivers/riders = 0
df['Booking_Status']=df['Booking_Status'].replace({'Success':1,'Canceled by Driver':0,'Canceled by Customer':0})

In [38]:
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S')

In [40]:
new_df=df[['Date','Time','Booking_ID','Customer_ID','Vehicle_Type','Pickup_Location','Drop_Location','V_TAT','C_TAT','Canceled_Rides_by_Customer','Canceled_Rides_by_Driver','Booking_Value','Payment_Method','Ride_Distance','Driver_Ratings','Customer_Rating']]

## Data Analysis
**Project Objectives** 
- Analyze ride booking trends and booking statuses  
- Understand customer and driver cancellation behavior  
- Study ride completion patterns and incomplete ride reasons  
- Evaluate revenue patterns across different vehicle types  
- Analyze relationships between ride distance, booking value, and ratings  
- Identify operational bottlenecks using turnaround time (TAT) metrics  
- Prepare clean and structured data for visualization and machine learning models